In [59]:
print("Lord_Balaji")

Lord_Balaji

**Import Libraries**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Load Data**

In [60]:
df = pd.read_csv("E:\Python_Vedeo\DataSets\Titanic\Titanic.csv")

In [7]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [61]:
df.drop(columns= ['name','ticket','cabin','home.dest'], axis= 1, inplace=True)

In [62]:
df.head()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,boat,body
0,1,1,female,29.0000,0,0,211.3375,S,2,NaN
1,1,1,male,0.9167,1,2,151.5500,S,11,NaN
2,1,0,female,2.0000,1,2,151.5500,S,NaN,NaN
3,1,0,male,30.0000,1,2,151.5500,S,NaN,135.0
4,1,0,female,25.0000,1,2,151.5500,S,NaN,NaN

In [63]:
df.isnull().sum()/df.shape[0]*100

pclass       0.000000
survived     0.000000
sex          0.000000
age          0.000000
sibsp        0.000000
parch        0.000000
fare         0.076394
embarked     0.152788
boat        62.872422
body        90.756303
dtype: float64

In [64]:
null_cols = df.isnull().sum()/df.shape[0]*100>60

In [65]:
null_cols

pclass      False
survived    False
sex         False
age         False
sibsp       False
parch       False
fare        False
embarked    False
boat         True
body         True
dtype: bool

In [66]:
df2 = df.iloc[:,[0,1,2,3,4,5,6,7]]

In [34]:
df2.head()

   pclass  survived     sex      age  sibsp  parch      fare embarked
0       1         1  female  29.0000      0      0  211.3375        S
1       1         1    male   0.9167      1      2  151.5500        S
2       1         0  female   2.0000      1      2  151.5500        S
3       1         0    male  30.0000      1      2  151.5500        S
4       1         0  female  25.0000      1      2  151.5500        S

In [67]:
df3 = df2.dropna()

In [68]:
df3.isnull().sum().sum()

0

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1306 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1306 non-null   int64
 1   survived  1306 non-null   int64
 2   sex       1306 non-null   object
 3   age       1306 non-null   float64
 4   sibsp     1306 non-null   int64
 5   parch     1306 non-null   int64
 6   fare      1306 non-null   float64
 7   embarked  1306 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 91.8+ KB

In [69]:
dummies = [pd.get_dummies(df3['sex'], prefix = 'sex', drop_first = True),
          pd.get_dummies(df3['embarked'], prefix = 'embarked', drop_first = True),
          pd.get_dummies(df3['sibsp'], prefix = 'sibsp', drop_first = True),
          pd.get_dummies(df3['parch'], prefix = 'parch', drop_first = True)]

In [70]:
dm = pd.concat(dummies, axis=1)

In [71]:
dm

,sex_male,embarked_Q,embarked_S,sibsp_1,sibsp_2,sibsp_3,sibsp_4,sibsp_5,sibsp_8,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,parch_9
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
3,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1305,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1306,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1307,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1308,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [73]:
df4 = pd.concat([df3, dm], axis = 1)

In [74]:
df4.head()

,pclass,survived,sex,age,sibsp,parch,fare,embarked,sex_male,embarked_Q,...,sibsp_4,sibsp_5,sibsp_8,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,parch_9
0,1,1,female,29.0000,0,0,211.3375,S,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,male,0.9167,1,2,151.5500,S,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,female,2.0000,1,2,151.5500,S,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,0,male,30.0000,1,2,151.5500,S,1,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0,female,25.0000,1,2,151.5500,S,0,0,...,0,0,0,0,1,0,0,0,0,0

In [75]:
df4.drop(columns=['sex','sibsp','parch','embarked'], axis =1, inplace=True)

In [76]:
df4.head()

,pclass,survived,age,fare,sex_male,embarked_Q,embarked_S,sibsp_1,sibsp_2,sibsp_3,sibsp_4,sibsp_5,sibsp_8,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,parch_9
0,1,1,29.0000,211.3375,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,0.9167,151.5500,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
2,1,0,2.0000,151.5500,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
3,1,0,30.0000,151.5500,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
4,1,0,25.0000,151.5500,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0

**Split Data**

In [77]:
X = df4.drop(['survived'], axis=1)

In [78]:
y = df4['survived']

In [79]:
y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1306, dtype: int64

In [80]:
X

,pclass,age,fare,sex_male,embarked_Q,embarked_S,sibsp_1,sibsp_2,sibsp_3,sibsp_4,sibsp_5,sibsp_8,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,parch_9
0,1,29.0000,211.3375,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0.9167,151.5500,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
2,1,2.0000,151.5500,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
3,1,30.0000,151.5500,1,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
4,1,25.0000,151.5500,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,14.5000,14.4542,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1305,3,24.0000,14.4542,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1306,3,26.5000,7.2250,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1307,3,27.0000,7.2250,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1308,3,29.0000,7.8750,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

**Train the data**

In [81]:
from sklearn.model_selection import train_test_split

In [84]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size = .30, random_state =101)

In [85]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((914, 19), (392, 19), (914,), (392,))

In [86]:
from sklearn.svm import SVC

In [87]:
SVM_Model = SVC()

In [88]:
SVM_Model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [89]:
SVM_Model.score(X_test, y_test)

0.7040816326530612

In [90]:
from sklearn.preprocessing import StandardScaler

In [91]:
sc = StandardScaler()

In [92]:
sc.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [93]:
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

In [95]:
SVM_Model_SC = SVC()

In [97]:
SVM_Model_SC.fit(X_train_sc, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [98]:
SVM_Model_SC.score(X_test_sc, y_test)

0.8061224489795918

In [99]:
SVM_Model_SC_Prediction = SVM_Model_SC.predict(X_test_sc)

In [100]:
from sklearn.metrics import accuracy_score

In [102]:
accuracy_score_rbf = round((accuracy_score(y_test, SVM_Model_SC_Prediction)*100),2)

In [103]:
print(accuracy_score_rbf,"%")

80.61 %

In [104]:
SVM_Linear_Model = SVC(kernel='linear')

In [105]:
SVM_Linear_Model.fit(X_train_sc,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [106]:
SVM_Linear_Model.score(X_test_sc,y_test)

0.8035714285714286

In [107]:
SVM_Poly_Model = SVC(kernel='poly')

In [108]:
SVM_Poly_Model.fit(X_train_sc,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [109]:
SVM_Poly_Model.score(X_test_sc,y_test)

0.7882653061224489

In [111]:
SVM_Sigmoid_Model = SVC(kernel='sigmoid')

In [112]:
SVM_Sigmoid_Model.fit(X_train_sc,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [114]:
SVM_Sigmoid_Model.score(X_test_sc,y_test)

0.7653061224489796